%script{ type: 'text/html', id: 'tpl_product_list' }
  %tr
    %td {{sequence}}
    %td {{name}}
    %td ${{price}}
    %td {{quantity}}
    %td ${{total}}
    %td
      = link_to '#', title: 'Edit', class: 'edit-product' do
        %i.icon-edit
      = link_to '#', title: 'Remove', class: 'remove-product' do
        %i.icon-remove
