%script{ type: 'text/html', id: 'tpl_product_form' }
  .control-group.select.optional.transaction_details_product
    .controls
      = text_field_tag 'product', '', class: 'search-products string optional', style: 'width: 98%', placeholder: 'Select product...', id: 'product_name'
  .control-group.integer.optional.transaction_details_quantity
    .controls
      %input.numeric.integer.optional{name: "quantity", step: "1", type: "number", style: 'width: 96%', placeholder: '0', id: 'product_quantity' }/
  .form-inputs
    .controls
      %a#add-product.btn.btn-success{:href => "#"}
        %i.icon-plus.icon-white
        Add product
      %a.btn.show-product-form{:href => "#"} Cancel
